@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  background-color: #2d2b35;
  color: rgb(255, 255, 255);
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.coin-text {
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
}

h1 {
  margin-bottom: 20px;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: 1px whitesmoke;
  background-image: linear-gradient(-225deg, #777777 0%,
  #212121 48%, #0c0c0c 100%);
  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}

.coin-input:focus {
 /* box-shadow: 0px 10px 50px green;*/
  transition: box-shadow 200ms cubic-bezier(.2,0,.7,1);

      box-shadow: 0 0 20px 1px #e1bcff;
}

.cube {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.glass {
  height: 150px;
  width: auto;
}

@media screen and (max-width: 700px) {
  .cube {
    width: 400px;
  }
}